body{
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  background-color: #f6f6f6;
  color: #838383;
  text-align: center;
}
.brand-logo{
  width: 50px;
  height: 50px;
}
h1{
  margin-top: 0;
  font-family: 'Indie Flower', cursive;
  color: #290001;
}
header{
  display: flex;
  position: sticky;
  top: 0;
  /* z-index: 100; */
  background-color: #f6f6f6;
}
.content{
  padding: 10px;
  margin-bottom: 0;
}
nav{
  margin-left: auto;
}
ul{
  display: flex;
}
li{
  list-style: none;
  margin-left: 40px;
  margin-right: 20px;
}
li>a{
  text-decoration: none;
  background-color: #70adb5;
  color: #132743;
  padding: 5px;
  border-radius: 10px;
  /* animation-name: links;
  animation-duration: 3s; */
  /* width: 40px;
  height: auto; */
}
li>a:hover{
  background-color: #d9ecf2;
  transition: 0.3s;
}
label{
  font-weight: 700;
  font-size: 1.6rem;
}
input[type=email]{
  width: 150px;
  font-size: 0.6rem;
  margin-bottom: 10px;
  margin-top: 20px;
}
input[type=submit]{
  width: 100px;
  background-color: #70adb5;
  color: #132743;
  cursor: pointer;
}
input[type=submit]:hover{
  opacity: 0.5;
}
.flexo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature{
  text-align: left;
  margin: 3%;
  color: #000;
  width: 700px;
}
h3{
  font-size: 1.2rem;
}
.feature p{
  font-size: 0.8rem;
}
.icon{
  color: #ffc93c;
  margin-right: 50px;
}
iframe{
  margin-top: 50px;
}
.Cards{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
.Card{
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid black;
  padding: 5px 20px 15px 20px;
  width: 300px;
  border-radius: 3px;
}
h2{
  color: #132743;
  font-weight: 700;
  margin: 0 0 auto 0;
  background-color: #d9ecf2;
}
.btn{
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
}
.btn-yellow{
  background-color: #ffc93c;
  color: #000;
}
.btn:hover{
  opacity: 0.6;
}
footer{
  background-color: #d9ecf2;
  padding: 3%;
}
footer>a{
  text-decoration: none;
  margin-right: 20px;
  color: black;
}
/* .down{
  float: right;
  width: 100%;
} */
/* @keyframes links {
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(-100px);
    opacity: 1;
  }
} */
